<!-- Formulario centrado -->
<!-- Componente: Formulario -->
<div class="row justify-content-center mt-4">
  <div class="col-md-8">
    <form class="row g-2" (submit)="agregar()">

      <div class="col-auto">
        <select class="form-select" [(ngModel)]="tipo" name="tipo" [ngClass]="{'bg-danger': tipo === 'egreso', 'bg-success': tipo === 'ingreso'}">
          <option value="ingreso" selected>+</option>
          <option value="egreso">-</option>
        </select>
      </div>

      <div class="col">
        <input type="text" id="descripcion" name="descripcion" class="form-control "
          placeholder="Descripción" required [(ngModel)]="descripcion" [ngClass]="{'bg-success': tipo === 'ingreso', 'bg-danger': tipo === 'egreso'}"/>
      </div>

      <div class="col-auto">
        <input type="number" id="precio" name="precio" class="form-control" placeholder="Valor" required [ngClass]="{'bg-success': tipo === 'ingreso','bg-danger': tipo === 'egreso'}"  
          [(ngModel)]="precio" />
      </div>

      <div class="col-auto">
        <button type="submit" class="btn" [ngClass]="{'btn-success': tipo === 'ingreso','btn-danger': tipo=== 'egreso'}">
          <i class="bi bi-check-circle"></i> <!-- Bootstrap Icon -->
        </button>
      </div>

    </form>
  </div>
</div>